@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    overflow-y: scroll;
}

.active {
    color: #E91E63;
    border-bottom: 2px solid #E91E63;
}